* {
    box-sizing:border-box;
    background-color: black;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Caprasimo';
    color: white;
}
button {
    color: white;
    background-color: none;
    font-family: 'Caprasimo';
    font-size: larger;
    text-align: center;
}

p, h1 {
    font-size: 40px;
    text-align: center;
}



.control-wrapper {
    display: flex;
    /* display: contents; */
    flex-direction: row;
    justify-content: space-evenly;
}

/* //.grid {
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    margin: 100px;
}*/ 

.big-grid {
    display: flex;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 1px solid;
}

 

.mini-grid {
    height: calc(100% / 10);
    width: calc(100% / 7);
    border: 1.7px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
}

#border {
    background-color: aquamarine; 
}

.food {
    color: teal;
    background-size: cover;
}